.options{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.incAndDec, .reset, .reload {
    display: flex;
    justify-content: space-between;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.display{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}